<!DOCTYPE html>
<html>
<head>
  <title>Qiniu Breakfast</title>
  <meta charset="utf-8">
</head>

<body>
  <p><%- name %></p>
  <button>确认领取早餐</button>
</body>
<script type="text/javascript">
window.user = {
  _id: '<%- _id %>',
  openid: '<%- openid %>',
  name: '<%- name %>'
};
console.log(window.user);
</script>
</html>
